/* Estilo do flashcard com a pergunta e a seta de virar */
.flashcard-question, .flashcard-response{
    /* background-color: springgreen; */
    /* height: 100px; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: #fff;
}

.flashcard-question span, .flashcard-response span{
    /* background-color: royalblue; */

    padding: 8px 8px;/*Vertical: 8px | Lados: 8px*/

    /* background-color: #fff; */
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.flashcard-question .turn-button{
    /* background-color: yellow; */
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
    padding-bottom: 5px;
}

.turn-button img{
    width: 30px;
}

/* Parte do rodapé do card com a resposta */
.flashcard-response .footer{
    /* background-color: chartreuse; */
    display: flex;
    justify-content: space-between;

    padding: 5px;
}

.flashcard-response .footer button{
    border: none;
    width: 85px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 7px;

    border-radius: 5px;

    font-family: 'Recursive';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
}

.incorrect{
    background-color: #FF3030;
}
.correct{
    background-color: #FF922E;
}
.zap{
    background-color: #2FBE34;
}


.answered-card{
    background-color: turquoise;
    height: 30px;

    background-color: #fff;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 12px;

    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.incorrect-answer{
    text-decoration-line: line-through;
    color: #FF3030;
}

.correct-answer{
    text-decoration-line: line-through;
    color: #FF922E;
}

.zap-answer{
    text-decoration-line: line-through;
    color: #2FBE34;
}