.deck-content{
    /* background-color: yellowgreen; */
    width: 370px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: scroll;

    padding-top: 30px;
}

.top-logo{
    width: 182px;
    /* height: 30px; */
    
    /* background-color: darkorchid; */
    display: flex;
    justify-content: space-between;

    font-family: 'Righteous';
    font-size: 30px;
    line-height: 31px;
    letter-spacing: -0.012em;
    color: #ffffff;
}

.top-logo img{
    width: 26px;
}

/* Estilo do flashcard de índice, com o botão de play */
.flashcard{
    /* background-color: orange; */
    width: 340px;

    display: flex;
    flex-direction: column;

    margin-top: 80px;
    gap: 5px;

    font-weight: 700;
    font-size: 18px;
    line-height: 14px;
    color: #333333;
}

.flashcard p{
    background-color: #fff;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 12px;

    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.flashcard ion-icon{
    font-size: 30px;
}





/* Rodapé que mostra o progresso */
.deck-content .progress{
    width: 100%;
    height: 50px;

    position: fixed;
    bottom: 0;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;
}







/*  Espaçamento para o final da lista de perguntas  */
.space{
    /* background-color: black; */
    height: 60px;
}

/* --------- Configurações do Scroll --------- */
::-webkit-scrollbar{
    display: none;
    /* height: 8px;
    width: 8px; */
}

::-webkit-scrollbar-thumb{
    background: rgb(138, 138, 138);
    border-radius: 10px;
}