.homescreen-content{
    width: 152px;
    height: 204px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    font-style: normal;
    font-weight: 400;
}

.homescreen-content button{
    width: 141px;
    height: 31px;

    background-color: #ffffff;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    font-family: 'Recursive';
    font-size: 12px;
    line-height: 14px;
    color: #D70900;
}

.logo-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo-top p{
    font-family: 'Righteous';
    font-size: 25px;
    line-height: 31px;
    letter-spacing: -0.012em;
    color: #ffffff;
}